<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AdonisJS - A fully featured web framework for Node.js</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">

    <div class="text-center">
        @eval(await auth.check())
        @if(auth.isAuthenticated)
        <p class="text-4xl font-bold mb-8">Hello {{ auth.user.name }}</p>
        <form action="/adminLogout" method="POST" class="">
            <button type="submit"
                class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 cursor-pointer transition duration-300 ease-in-out">
                Logout User
            </button>
        </form>
        @endif
    </div>

</body>

</html>